$very-dark-blue: hsl(233, 47%, 7%);
$dark-saturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$white-main-paragraph: hsla(0, 0%, 100%, 0.75);
$white-stat-heading: hsla(0, 0%, 100%, 0.6);
$content-width: 1000px;
$content-height: 400px;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-size: 15px;
   font-family: 'Lexend Deca';
}

.stat {
   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $very-dark-blue;
   }

   &__content {
      display: flex;
      background-color: $dark-saturated-blue;
      color: $white-stat-heading;
      width: $content-width;
      height: $content-height;
      border-radius: 10px;
      overflow: hidden;
   }

   &__text-container {
      padding: 40px;
      padding-right: 100px;
      padding-top: 60px;
   }

   &__numbers {
      display: flex;
      margin-top: 60px;
      justify-content: space-between;
   }

   &__number-unit {
      text-transform: uppercase;
   }

   &__img-container {
      width: 50%;
      background: rgba($color: $soft-violet, $alpha: 1)
   }

   &__img {
      opacity: 0.6;
   }

   &__title,
   &__number {
      color: $white;
      font-family: 'Inter';
   }

   &__insights {
      color: $soft-violet;
   }

   &__number {
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: 8px;
   }

   &__number-unit {
      font-size: 0.8em;
   }

   &__title {
      font-weight: 1000;
      margin-bottom: 24px;
   }

   &__details {
      line-height: 1.5em;
   }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }